.navigation-bottom-bar-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.navigation-bottom-bar-buttom-text {
  margin: 0;
  font-size: 0.4em;
}
