.input-button {
  margin-top: 1.5em;
}

.input-button-button {
  width: 100%;
  height: 2.5em;
  border: none;
  padding-left: 1em;
  padding-right: 1em;
  background: #FDFCFC;
  box-shadow: 5px 5px 80px rgba(212, 173, 134, 0.4926);
  border-radius: 10px;
  color: #FFFFFF;
  background: #FF6978;
  font-size: 1.2em;
  font-weight: 600;
}