.book-list-book {
  background-color: #FF6978;
  height: 7.5em;
  width: 5.7em;
}

.book-list-book-name {
  font-size: 0.8em;
  font-weight: 600;
  margin: 0.5em 0 0 0;
}

.book-list-book-author {
  font-size: 0.8em;
  font-weight: 600;
  margin: 0.3em 0 0 0;
}